/*ESTILOS HEADER*/
header{
    padding: 12px 4%;
    background-color: #090909;
    border-bottom: 3px solid #f1f1f1;
    width: 100%;
    height: 15%;
}

header .flex{
    justify-content: space-evenly;
    gap: 5%;
}

header .logo-titulo{
    display: flex;
    align-items: center;
    gap: 35px;
}

header .logo-titulo img{
    width: 71px;
    transition: 0.2s;
}

header .logo-titulo img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

header h1.titulo{
    cursor: default;
}

header .links ul{
    display: flex;
    padding-top: 25px;
    gap: 35px;
}

header .links ul li{
    transition: 0.3s;
}

header .links ul li:hover{
    transform: scale(1.05);
    cursor: pointer;
}

header .links ul li a{
    font-size: 20px;
    color: #f1f1f19d;
    transition: 0.3s;
}

header .links ul li a:hover{
    color: #f1f1f1;
    text-decoration: underline;
}

/*ESTILOS SOBRE MIM*/
section.sobre{
    padding: 40px 5%;
}

section.sobre .flex{
    margin-top: 2%;
    gap: 10%;
}

section.sobre .flex img{
    width: 350px;
    height: 350px;
}

.sobre .txt-sobre{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.sobre .txt-sobre p{
    color: #f1f1f18e;
    font-weight: bold;
    line-height: 25px;
}

.sobre .simbolo{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre .simbolo img{
    width: 100px;
}

/*ESTILOS CONHECIMENTOS*/
section.conhecimentos{
    padding: 40px 6%;
}

section.conhecimentos .titulo{
    margin-bottom: 60px;
}

section.conhecimentos .flex{
    justify-content: space-between;
}

.conhecimentos .content{
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.conhecimentos .box-conhecimentos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25vw;
    height: 40vh;
    border: 1px solid #f1f1f1;
    border-radius: 45px;
    transition: 0.3s;
}

.conhecimentos .box-conhecimentos:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #f1f1f1;
    cursor: pointer;
}

.conhecimentos .box-conhecimentos a, .conhecimentos .box-conhecimentos p{
    text-align: center;
    color: #f1f1f18e;
    font-size: 18px;
}

.conhecimentos .box-conhecimentos a:hover, .conhecimentos .box-conhecimentos p:hover{
    color: #f1f1f1;
    text-decoration: underline;
}

.conhecimentos .box-conhecimentos i{
    text-align: center;
}

.conhecimentos .box-conhecimentos .icons{
    display: flex;
    justify-content: center;
    gap: 20%;
}

/*ESTILOS PROJETOS*/
section.projetos{
    padding: 40px 6%;
}

section.projetos .content{
    margin-top: 50px;
}

section.projetos .flex{
    gap: 108px;
    justify-content: space-evenly;
}

.projetos img{
    width: 440px;
}

.projetos .txt-projeto{
    margin: 0 0px 0px 150px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 30px;
}